{% extends 'main.html' %}

{% block content %}
<main class="auth layout">

    <div class="container">
        <div class="layout__box">
          <div class="layout__boxHeader">
            <div class="layout__boxTitle">
              <h3>Password Reset Complete</h3>
            </div>
          </div>
          <div class="layout__body">
            <h2 class="auth__tagline">Ride. Run. Meet.</h2>
    
            <p>Your password has been successfully reset. You can now log in with your new password.</p>
    
          </div>
        </div>
    </div>

</main>
{% endblock content %}
