{% extends 'main.html' %}

{% block content %}
<main class="auth layout">

    <div class="container">
        <div class="layout__box">
          <div class="layout__boxHeader">
            <div class="layout__boxTitle">
              <h3>Password Reset Email Sent</h3>
            </div>
          </div>
          <div class="layout__body">
            <h2 class="auth__tagline">Ride. Run. Meet.</h2>
    
            <p>An email has been sent to your email address with instructions on how to reset your password. Please check your inbox.</p>
    
          </div>
        </div>
    </div>

</main>
{% endblock content %}