{% extends 'main.html' %}
{% load static %}
{% block content %}
<main class="profile-page layout layout--3">
  <div class="container">
    <!-- Topics Start -->
    {% include 'base/components/topics_cities_comp.html' %}
    <!-- Topics End -->

    <!-- Room List Start -->
    <div class="roomList">
      <div class="profile">
        <div class="profile__avatar">
          <div class="avatar avatar--large active">
            <!-- <img src="{{user.avatar.url}}" /> -->
            <img src="{{request.user.avatar.url}}" />
            
            
          </div>
        </div>
        <div class="profile__info">
          <h3>{{user.username}}</h3>
          <p>@{{user.username}}</p>

          
          {% if request.user == user %}
            <a href="{% url 'update-user' %}" class="btn btn--main btn--pill">Edit Profile</a>
          
              {% if delete_user %}
                <a href="{% url 'delete-user' %}" class="btn btn--danger btn--pill">Delete Profile</a>
              {% endif %}
           {% endif %}
        </div>
        <div class="profile__about">
          <h3>About</h3>
          <p>
            {{user.bio}}
          </p>
        </div>
      </div>

      <div class="roomList__header">
        <div>
          <h2>Events Hosted by {{user.username}}</a>
          </h2>
        </div>
      </div>
      {% include 'base/components/feed_component.html' %}


    </div>
    <!-- Room List End -->

    <!-- Activities Start -->
    {% include 'base/components/activity_component.html' %}
    <!-- Activities End -->
  </div>
</main>
{% endblock content %}